html {
  background: lightgrey;
}

ul {
  list-style: none;
}

body {
  background: #d3d6e0;
  margin: auto;
}

.block-ui {
    position:   fixed;
    z-index:    100;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) ;
    overflow: hidden;   
}

body.loading {
    overflow: hidden;   
}

body.loading .enTraitement {
    display: block;
}

.form, input[type=submit] {
  display: none;
}

.calendrier {
  float: right;
  display:none;
}


.tache {
  position: relative;
}

.titreTache {
  float: left;
  margin: 5px;
}

.top {
  border: none;
}

fieldset.taches {
  margin: 5px;
  padding: 0px 10px;
  width: 100%;
}

fieldset.taches ul {
  list-style: none;
  padding: 0px 15px;
  margin: 0px;
}

fieldset.taches li {
  display: inline-block;
}

.couleur {
    float: left;
    background: #f00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    border: 1px solid black;
}

.contenu {
  width: 100%;
  border: none;
}

.contenu p {
}

.menu {
  min-height: 143px;
  padding: 5px;
  border: 1px solid grey;
  background: #d3d6e0 !important;
}

.toolbar {
  float: left;
}

ol {
  list-style-type: none;
  margin: 0px;
  padding-left: 25px;
}

.enTraitement {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('https://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

.table {
}

.menu {
  background: #f6a828 ;//url("jQueryUI-1.11.4/images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
}


button {
  cursor: pointer;
  cursor: hand;
  width: 100%;
}

td.highlight {
    background-color: whitesmoke !important;
}
/*
span.date {
  position: absolute;
  z-index: 100;
  color: white;
  left: 609px;
  top: 23px;
  font-size: 20px;
  text-shadow: 1px 1px 1px darkgrey;
  text-decoration: underline;
}
*/


div.ui-colorpicker {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: -1;
}
div.sp-preview {
  display: none;
}
div.sp-dd {
  display: none;
}

.sp-container {
  z-index: 1 !important;
}

.js * {display: none;}

.id { display: none;}

form#formAjouterHoraire select {
  float: right;
}

form#formAjouterHoraire ul {
  padding-left: 0px;
}
form#formAjouterHoraire ul li {
  padding: 2px 0px;
  border-bottom: 1px solid black;
}

.ui-dialog {
  width: auto !important;
  overflow: visible !important;
}

.ui-state-focus {
  font-weight: normal !important;
}

.top {
  display: flex;
}

.dataTables_scrollHeadInner {
  margin: auto;
}
.dataTables_scrollFootInner {
  margin: auto;
}

#formAjouterEmploye input {
  right: 0px;
}

td {
  text-align: center;
}
td:hover {
    border: 1px solid grey;
    filter: saturate(1850%);
  cursor: default;
}
th {
  cursor: default;
}

.logout {
  right: 0px;
position: absolute;
margin: 20px;
padding: 20px;
  cursor: pointer;
  cursor: hand;
}
.logout a {
    text-decoration: none;
}

#dialog-erreur {
  display:none;
}

.ui-state-error p {
  font-size: 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #484848;
background-image: url(https://images.eyeballgoo.com/hex.png);
background-repeat: no-repeat;
background-position-x: 95%;
background-size: 60px;
background-position-y: 5px;
}

 .navbar li {
    float: left;
}

 .navbar li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 .navbar li a:hover, .dropdown:hover .dropbtn {
    background-color: #4f5b90;
}

 .navbar li.dropdown {
    display: inline-block;
}

 .navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

 .navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

 .navbar .dropdown-content a:hover {background-color: #f1f1f1}

 .navbar .dropdown:hover .dropdown-content {
    display: block;
}

table tr {
height: 35px !important; /* or whatever height you need to make them all consistent */
}
